<h1>Goodbye world!</h1>

<p>Golly, is it not it the time that you must leave?... Sad, I am, quite, but we will meet again! Just you see!</p>

<p>Return to my <%= link_to "Company", say_hello_path%></a>!</p>